@use './mixin/mixin.scss' as *;

@font-face {
    font-family: "ifui-icon"; /* Project id 3622404 */
    src: url('./font/iconfont.woff2?t=1673682523064') format('woff2'),
         url('./font/iconfont.woff?t=1673682523064') format('woff'),
         url('./font/iconfont.ttf?t=1673682523064') format('truetype');
  }
  
  [class^="#{$namespace}-icon"], [class*=" #{$namespace}-icon"]{
    font-family: "ifui-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .#{$namespace}-icon-dizhi:before {
    content: "\e652";
  }
  
  .#{$namespace}-icon-ganxingquzhiwei:before {
    content: "\e62c";
  }
  
  .#{$namespace}-icon-youxiang:before {
    content: "\e908";
  }
  
  .#{$namespace}-icon-icon-test:before {
    content: "\e617";
  }
  
  .#{$namespace}-icon-github:before {
    content: "\e689";
  }
  
  .#{$namespace}-icon-dianhua:before {
    content: "\e8ad";
  }
  
  .#{$namespace}-icon-nianling:before {
    content: "\e7ba";
  }
  
  .#{$namespace}-icon-worker:before {
    content: "\e616";
  }
  
  .#{$namespace}-icon-xiangmujingyan:before {
    content: "\e60a";
  }
  
  .#{$namespace}-icon-ziwojieshao:before {
    content: "\e654";
  }
  
  .#{$namespace}-icon-_xiangmujingyan:before {
    content: "\e611";
  }
  
  .#{$namespace}-icon-skill:before {
    content: "\e604";
  }
  
  .#{$namespace}-icon-education:before {
    content: "\e661";
  }
  
  .#{$namespace}-icon-qiuzhi:before {
    content: "\e60d";
  }
  
  .#{$namespace}-icon-work:before {
    content: "\e683";
  }
  
  .#{$namespace}-icon-xiaoyuan:before {
    content: "\e67e";
  }
  
  